!!! 5
html
  head
    meta(content='text/thml; charset=utf-8', http-equiv='content')

    title #{title} - Keima
    link(href="/favicon.ico", rel="shortcut icon", type="image/vnd.microsoft.icon")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.min.js")
    script(src="/socket.io/socket.io.js")
  body
    .main
      .site
        .title
          a(href="/"): img(src="/images/logo.png")
        .navigation
          ul
            - function navi(t1,t2, url) {
            -   if(t1 == t2){ return '<span>' + t1 + '</span>'; }
            -   else        { return '<a href="' + url + '">' + t1 + '</a>' }}
            li!= navi('Dashboard',title, '/app')
            li!= navi('Help', title, '/help')
            li!= navi('About', title, '/about')
        .login
          - if(current_user)
            p #{current_user + ' '}
              a(href="/logout") Logout
          - else
            p: a(href="/login") Login
      .page
        != messages()
        h1=title
        !=body
    .info
      p.credits
        | Copyright (C) 2011
        a(href="http://codefirst.github.com/") codefirst.org
        | . All rights reserved.

